@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($white, .85);
  animation: fadein .5s;
}

.book {
  position: relative;
  text-align: center;
}

.book-title {
  @extend .ellipsis;
  @extend .mb-1;

  font-size: $h6-font-size;
}

.book-image {
  @extend .mb-2;
  width: 100%;
  height: 160px;
  object-fit: contain;
  object-position: center bottom;
  filter:
    drop-shadow(0 -1px 0 $gray-300)
    drop-shadow(0 2px 0 $gray-300)
    drop-shadow(-1px 0 0 $gray-300)
    drop-shadow(2px 0 0 $gray-300);
}

.book-detail .book-image {
  object-position: left bottom;
}

.book-authors {
  @extend .ellipsis;
  @extend .small;
}

.book-rating {
  @extend .small;
  @extend .text-muted;
  @extend .mb-1;
}

.rating .bi,
.book-rating .bi {
  color: $warning;
}

#search-error,
#search-meta {
  text-align: center;
}

#search-error,
#search-meta,
#search-result {
  @extend .my-5;
}

#search-form {
  @extend .mb-5;
}

#search-pagination {
  @extend .justify-content-center;
  @extend .mt-5;
  @extend .mb-0;
}
